{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CSB Portfolio</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../media/images/csb-coloured.svg" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/Vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/Vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../static/Vendors/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../../static/Vendors/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../static/Vendors/venobox/venobox.css" rel="stylesheet">
  <link href="../../static/Vendors/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/Resources/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an text logo -->
        <!-- <h1><a href="index.html">CSB @ IIITD</a></h1> -->
        <a href="#header" class="scrollto"><img src="../../media/images/csb-coloured.svg" alt="" class="img-fluid" style="height: 100%; width: 100%;"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header" class="scrollto">Home</a></li>
          <li><a href="#about" class="scrollto">About Us</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->
  {% block content %}
  {% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container" >
      <div class="copyright">
        csbiiitdportfolio 2020
      </div>
    </div>

    <div class="container" >
      <div class="copyright" style="font-size: 0px;">
        &copy; Copyright <strong>NewBiz</strong>. All Rights Reserved
      </div>
      <div class="credits" style="font-size: 0px;">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../static/Vendors/jquery/jquery.min.js"></script>
  <script src="../../static/Vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/Vendors/jquery.easing/jquery.easing.min.js"></script>
  <script src="../../static/Vendors/php-email-form/validate.js"></script>
  <script src="../../static/Vendors/counterup/counterup.min.js"></script>
  <script src="../../static/Vendors/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/Vendors/owl.carousel/owl.carousel.min.js"></script>
  <script src="../../static/Vendors/waypoints/jquery.waypoints.min.js"></script>
  <script src="../../static/Vendors/venobox/venobox.min.js"></script>
  <script src="../../static/Vendors/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/Resources/js/main.js"></script>

</body>

</html>