{% extends 'base.html' %}
{% block content %}
  <!-- ======= Intro Section ======= -->
  <header id="intro" class="clearfix js--section-intro">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <img class="main-image" data-aos="zoom-out-up" data-aos-delay="200" src="../../media/images/csb-light.svg" alt=""style="">        
        </div>
        <div class="col-lg-6 col-md-12" style="">
          <div style="padding-left: 10%;">
            <h2  id="main-text" class="" style=" text-align: left; color: white;font-weight: 300;font-size: 35px;">A one of a kind<br> Undergraduate<br> Programme @ IIITD</h2><br> 
            <div class="row" >
                <a href="#" class="btn btn-ghost js--scroll-to-about" style="margin-right: 15px;">About Us!</a>
                <a href="#" class="btn btn-full js--scroll-to-portfolio">Our Portfolio</a>            
          </div>
        </div>
    </div>
    </div>      
  </header><!-- End Intro Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <br>
    <section id="about" class="js--section-about">
      <div class="container">
          <h3>ABOUT US</h3>
          <p data-aos = "fade-up">
           We are individuals who can seamlessly integrate computer science and mathematics foundations to ask data-driven questions in domains such as Healthcare and Medicine.
          </p>
          <br><br>


        <div class="row">
          <div class="col-lg-6 my-auto">
            <img src="../../static/Resources/img/csb_final_3.png" data-aos="fade-right" data-aos-delay="200" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6">
            <h4 style="font-weight: 500;" class="title-1" data-aos="fade-up" data-aos-delay="200">Highly competitive individuals who are trained in the latest <strong>Computer Science</strong> curriculum</h4>
            <br>
            <div style="" class="description-1" data-aos="fade-left" data-aos-delay="200">
              <p>
                We are not limited to the world-class syllabus that is prescribed by the Institute. Many of us have been continuously outperforming other graduate students in places like the prestigious <b>GSOC</b> and <b>Microsoft Codess</b> Programs.
              </p>
              <p>
                Our competitive nature and the drive to reach the top always keeps us on top of our toes. This makes sure that we have an in-depth knowledge of the latest tools and technologies to <b>design</b> and <b>implement</b> efficient software solutions using suitable <b>Algorithms</b>, <b>Data-Structures</b> and other computing techniques
              </p>      
              <br>        
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <h4 style="font-weight: 500;" class="title-2" data-aos="fade-up" data-aos-delay="200">We also undertake a specialization in the domains of <strong>Healthcare</strong> & <strong>CB</strong></h4>
            <br>
            <div style="" class="description-2" data-aos="fade-right" data-aos-delay="200">
             <p>
                With the advent of high-throughput techniques, biological sciences grapple with a paradigm shift towards data-intensive explorations and challenges for management and analysis of massive data.
                Making progress on these frontiers requires insight into <b>biological processes, algorithms, machine learning techniques, mathematical modeling</b>, apart from <b>numerical and programming skills.</b>
              </p>
              <p>
                Thus, interdisciplinary education that imparts knowledge of foundations of biology & computer science and training in modeling & analysis of biomedical data is the key to creating personnel who can provide solutions to problems on the interface of computation and biology.
              </p>              
            </div>
           </div>
          <div class="col-lg-6 my-auto" style="">
            <img src="../../static/Resources/img/csb_final_2.png" data-aos="fade-left" data-aos-delay="200" class="img-fluid" style="margin-top: 20px;">
          </div>

        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="clearfix js--section-portfolio">
      <div class="container" data-aos="fade-up">
          <br>
          <h3 class="section-title">Some of our Awesome Projects</h3>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-Web">Web</li>
              <li data-filter=".filter-App">App</li>
              <li data-filter=".filter-Data">Data Science</li>
              <li data-filter=".filter-Machine">Machine Learning</li>
              <li data-filter=".filter-Deep">Deep Learning</li>
              <li data-filter=".filter-Research">Research</li>
              <li data-filter=".filter-Database">DBMS</li>
              <li data-filter=".filter-Other">Others</li>
            </ul>
          </div>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for project in projects.all %}
          <div class="col-lg-4 col-md-5 portfolio-item  {% for category in project.projectCategory %} filter-{{category}} {% endfor %}">
            <div class="project-name">
                <h4 class="project-name-tag" style="{% if project.projectName|length > 40 %} font-size:12px;padding-top:2px;padding-bottom: 2px;  {% endif %}" >{{ project.projectName }}</h4>
                <p class="project-category-tag" style="color: white;padding: 3px;margin-top:5px;margin-bottom: -3px;padding-left: 5px;padding-right: 5px; border-radius: 5px; background-color: black;font-size: 12px;">{{ project.projectCategory }}</p>
            </div>
            <div style="box-shadow: 6px 10px 10px rgba(0,0,0,0.3);" class="portfolio-wrap">
              <img src="{{ project.projectImage.url }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <p style="text-transform: none;padding: 10px;">{{ project.projectDescription }}</p>
                <div>
                  <a href="{{ project.projectImage.url }}" data-gall="portfolioGallery" title="Project Display" class="venobox link-preview"><i class="ion ion-eye"></i></a>
                  {% if project.projectLink != "https://github.com/" %}
                  <a href="{{ project.projectLink }}" class="link-details" title="More Details" target="new window"><i class="ion ion-android-open"></i></a>
                  {% endif %}
                </div>
              </div>
              <div class="team-name" style="border-radius: 0; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                  <p  style="margin: 0;font-size: 8px;color: white;">Done by: {{ project.projectTeam }}</p>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="js--section-contactus">
      <div class="container-fluid"  style="padding-bottom: 30px;">
        <div class="section-header">
          <h3>Contact Us</h3>
        </div>
          <div class="row justify-content-center" style="">
              {% for placementTeamMember in placementTeamMembers.all %}
              <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300" style="margin-bottom: 30px;max-width: 400px;min-width: 310px;">
                <div class="card placementCard" style="box-shadow: 6px 10px 10px rgba(0,0,0,0.2);padding: 0;border-radius: 20px;">
                  <img class="card-img-top" src="{{ placementTeamMember.memberPicture.url }}" alt="Card image cap" height="290px" style="border-radius: 20px;">
                  <div class="card-body" style="color: white;background-color: white; padding: 0;padding-bottom: 20px; border-radius: 20px;">
                    <h3 class="card-title" style="margin-bottom: 10px; font-size: 20px;">{{ placementTeamMember.memberName }}</h3>
                    <p class="card-text" style="margin-bottom: 10px;font-size: 13px; color: #000;"><strong>{{ placementTeamMember.memberDesignation }}</strong></p>
                    <p class="card-text" style="margin-bottom: 10px;font-size: 13px;"><b>Email:</b> {{ placementTeamMember.memberEmail }}</p>
                    <p class="card-text" style="margin-bottom: 10px;font-size: 13px;"><b>Office No:</b> {{ placementTeamMember.memberPhone }}</p>
                  </div>
                </div>                
              </div>
              {% endfor %}            
          </div>          
      </div>
    </section> <!--End Contact Section -->

  </main><!-- End #main -->

{% endblock %}
